<!-- Template: smartphone-list.component.html -->

<div class="mat-container">
  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let smartphone">
        {{ smartphone.price | currency: 'CAD':'symbol-narrow' }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let smartphone">
        {{ smartphone.date | date: 'fullDate' }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let smartphone">
        <button mat-raised-button color="primary" (click)="editsmartPhone(smartphone.model)">
          Edit
        </button>
        <button mat-raised-button color="warn" (click)="deletesmartPhone(smartphone.model)">
          Delete
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination -->
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons>
  </mat-paginator>

  <!-- Error Message -->
  <div *ngIf="error" class="mat-error">{{ error }}</div>
</div>
